# django
SECRET_KEY="django-insecure-example12345igiu83#$*8tygfd0213#" #Secret key from django settings.py
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend,nginx
#

#  postgres basic confgs
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
#

#leave them as is
POSTGRES_HOST=db
POSTGRES_PORT=5432 
#

# tg integration (no tg service for now, u can skip this part)
TELEGRAM_TOKEN=ASDJviocx04t--123JKFJbxoijfkn #Token from BotFather
TELEGRAM_OWNER_CHAT_ID=1234567 # Chat id for tests,m obtain manually
#