<div class="row-center-space-between m8">
    <div class="row-center">
        <img [src]="commentData().author_avatar" class="profile-picutre" alt="">
        <a [href]=" 'users/' + commentData().author.id">
            <p>{{commentData().author.username}}</p>
        </a>

    </div>

</div>
<hr>
<div class="row m16">
    <p>{{commentData().content}}</p>
</div>
<div class="row-center-space-between">

    <div class="row-center-baseline m8">
        <img src="/assets/filled_star.png" class="star-icon p4" alt="">
        <h3>{{commentData().rating}}</h3>
    </div>
    <div class="row-center g16">
        <p>{{commentData().created_at.slice(0,10) + " / " + commentData().created_at.slice(11,16)}}</p>
        <div class="row-center g4">
            <img src="/assets/like.svg" class="like-dislike-btn" alt="" (click)="onLikeClicked()">
            <p class="m8"> {{commentData().likes_count}}</p>
            <img src="/assets/dislike.svg" class="like-dislike-btn" alt="" (click)="onDislikeClicked()">
            <p class="m8"> {{commentData().dislikes_count}}</p>
        </div>
    </div>
</div>