.btn {
    margin: 6px;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 8px;
    background-color: bisque;
    cursor: pointer;
    width: 306px;
    height: 150px;
}

.text-div {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

p {
    text-align: left;
    margin: 0;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}