<div class="header row-center-space-between">
    <div class="row-center-baseline">
        <div class="header-btn" (click)="onLogoClicked()">
            <strong>
                <p>Logo</p>
            </strong>
        </div>
        <div class="header-btn" (click)="onLogoClicked()" routerLink="/disciplines" routerLinkActive="header-btn-picked"
            [routerLinkActiveOptions]="{exact : true}">
            <strong>
                <p>Discipline List</p>
            </strong>
        </div>
    </div>
    <div class="row-center-baseline">
        @if(!this.auth.isLoggedIn()){
        <div class="header-btn" (click)="onSignupClicked()" routerLink="/signup" routerLinkActive="header-btn-picked">
            <strong>
                <p>Sign up</p>
            </strong>
        </div>
        <div class="header-btn" (click)="onLoginClicked()" routerLink="/login" routerLinkActive="header-btn-picked">
            <strong>
                <p>Log in</p>
            </strong>
        </div>
        }
        @else{
        @if(this.auth.isModerator()){
        <div class="header-btn" (click)="onApproveListClicked()" routerLink="/disciplines/approve-list"
            routerLinkActive="header-btn-picked">
            <strong>
                <p>Approve List</p>
            </strong>
        </div>
        }



        <div class="header-btn" (click)="onOfferDisciplineClicked()" routerLink="/disciplines/offer"
            routerLinkActive="header-btn-picked">
            <strong>
                <p>Offer a discipline</p>
            </strong>
        </div>
        <div class="header-btn" (click)="onLogoutClicked()">
            <strong>
                <p>Logout</p>
            </strong>
        </div>
        }

    </div>

</div>