<div class="header">
    <div class="row" style="justify-content: space-between;">
        <div class="row baseline">
            <a href="#" class="btn">Home page</a>
            <div class="dropdown">
                <a href="#" class="btn">Disciplines</a>
                <div class="dropdown-content">
                    <a href="#">Discipline List</a>
                    <a href="#">Offer new Discipline</a>
                </div>
            </div>

            <div class="dropdown">
                <a href="#" class="btn">Teachers</a>
                <div class="dropdown-content">
                    <a href="#">Teacher List</a>
                    <a href="#">Offer new Teacher</a>
                </div>
            </div>

            <a href="#" class="btn">Donations ;3</a>
        </div>
        <div class="row baseline">
            <a href="#" class="btn">Login</a>
            <a href="#" class="btn">Signup</a>
        </div>
    </div>

</div>